@import 'normalize.css';
@import 'mixins.scss';
@import 'variables.scss';

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;

    @media (max-width: 768px) {
        margin: 0 auto;
    }
}

.header {
    position: relative;
    margin-bottom: 6px;
}

.nav-ul {
    @include flc;
    gap: 6%;

    @media (max-width: 768px) {
        display: none;
    }
}

.nav-li {
    margin: 45px 0 45px 0;
    color: $text-color;
}

.nav-link {
    color: $text-color;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-align: left;

    &:hover {
        color: $hover-color;
    }
}

.mobile-menu {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: -52px;
        padding: 4px;
        padding-top: 8px;
        padding-left: 5px;
        background-color: black;

        .line {
            background-color: white;
            border-radius: 1em;
            width: 37px;
            height: 0.25rem;
            margin-bottom: 5px;
            transform-origin: left;
            transition: all 0.5s;
        }

        &.active .line1 {
            display: block;
            transform: rotate(30deg);
        }

        &.active .line2 {
            opacity: 0;
        }

        &.active .line3 {
            display: block;
            transform: rotate(-30deg);
        }
    }
}

.mobile-nav-ul {
    display: none;
    position: fixed;
    right: 7%;
    top: 67px;
    width: 182px;
    background-color: #f5f5f5;

    &.active {
        display: block;
        animation: showContent 0.9s ease-in-out;
    }
}

.mobile-nav-li {
    &:hover {
        background-color: #e5e5e5;
    }
}

.mobile-nav-link {
    display: block;
    color: $text-color;

    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.100000023841858px;
    text-align: left;
    padding: 7px 0 5px 13px;

    &:hover {
        color: $hover-color;
    }
}

.slide {
    @include flc;
    margin-bottom: 66px;

    @media (max-width: 768px) {
        margin-top: 83px;
    }
}

.slide-img {
    width: 100%;
}

.title-news {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: $text-color;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px 35px;
    margin-bottom: 69px;

    @media (max-width: 1200px) {
        display: block;
    }
}

.news {
    display: flex;
    gap: 21px;

    @media (max-width: 1200px) {
        margin-bottom: 34px;
    }

    @media (max-width: 768px) {
        display: block;
        margin-bottom: 34px;
    }
}

.news:last-child {
    @media (max-width: 768px) {
        display: none;
    }
}

.news-img {
    width: 160px;
    height: 140px;
}

.news-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: $text-color;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.news-comments {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: #7c7c7c;

    @media (max-width: 768px) {
        font-size: 11px;
    }
}

.news-short {
    margin-top: 13px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #5c5c5c;

    @media (max-width: 768px) {
        display: none;
    }
}

.posts {
    background-color: #f7f7f7;

    @media (max-width: 768px) {
        background-color: transparent;
    }
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
}

.title-posts {
    margin: 34px 0 24px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: $text-color;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.title-posts:nth-child(2) {
    @media (max-width: 768px) {
        display: none;
    }
}

.posts-all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-bottom: 49px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
}

.posts-img {
    width: 100%;
    // height: 285px;

    @media (max-width: 768px) {
        width: 100%;
    }
}

.posts-img:last-child {
    @media (max-width: 1200px) {
        display: none;
    }
}

.posts-img:nth-child(3),
.posts-img:nth-child(2) {
    @media (max-width: 768px) {
        display: none;
    }
}

.footer {
    background-color: #000000;
    padding: 67px;
}

.title-footer {
    color: #fefefe;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.footer-subtitle {
    margin-top: 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: $footer-text-color;

    @media (max-width: 768px) {
        font-size: 12px;
    }
}

.contact {
    margin-top: 34px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: $footer-text-color;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.icon-img {
    width: 34px;
    height: 34px;
}

.footer-icon {
    display: flex;
    gap: 5px;
    margin-top: 37px;
    justify-content: center;
}

@keyframes showContent {
    0% {
        transform: translate(200px, 0px);
    }

    50% {
        transform: translate(0, 0px);
    }
}

@keyframes hideContent {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(200px, 0px);
    }
}
